html{
  height: 98% !important;
}
body {
  overflow-x: hidden;
  height: 98%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
#loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backround-img-dark {
  background-image: url("../assets/image/login_bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.backround-img-light {
  background-image: url("../assets/image/dashboard_bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}
.d-hidden {
  display: none !important;
}
.bg-gray {
  background-color: #e4e4e4;
}

.text-orange {
  color: #e77e2c;
}

.border-orange {
  border: 1px solid #e77e2c;
}

.f-20 {
  font-size: 20px;
}

.mx-auto-0 {
  margin: 0 auto;
}

.smal-box {
  min-width: 350px;
}

.box-shadow--dark {
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.575) !important;
}

.border-bottom {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #dee2e6 !important;
}

.rounded-border-m {
  border-radius: 1rem !important;
}

.pointer {
  cursor: pointer;
}

.text-left-child > * {
  text-align: left !important;
}

#datatable tr th {
  color: #e77e2c;
}

#datatable tr th,
#datatable .sorting {
  color: #e77e2c;
}

#datatable tr td:nth-child(1) {
  color: #e77e2c;
}

.datatable-wrapper {
  max-height: 400px;
  overflow-x: scroll;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.275) !important;
}

.hide-calander::-webkit-inner-spin-button,
.hide-calander::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.highcharts-figure,
.highcharts-data-table table {
  display: inline-block;
}

.highcharts-figure-drill,
.highcharts-figure-drill .highcharts-data-table table {
  display: inline-block;
}

#container {
  height: 400px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
